<div class=text-center>
    <div> Tour de Cedric</div>


    <div class="grid">



        <div *ngFor="let cell of grid" class="cell">
            <!-- Solution 1
            <div *ngIf="!cell.empty && cell.cross" class="cross"></div>
            <div *ngIf="!cell.empty && cell.circle" class="circle"></div> 
            -->
            <div *ngIf="!cell.empty" [class.cross]="cell.cross" [class.circle]="cell.circle"></div>

        </div>



    </div>



    <button type="button" class="btn btn-primary">
        Recommencer la partie
    </button>

</div>